<header>
    <div class="menuButton">
        <img class="icon-button" src="/assets/icons/icon-burger-menu.svg" alt="menu" title="menu"
            (click)="isMenuOpen = !isMenuOpen" />
    </div>
    <div class=" logo">
        <img class="icon-button" src="/assets/logo.svg" alt="logo" />
    </div>
    <div class="options">
        <img class="icon-button" src="/assets/icons/icon-search.svg" alt="buscar" title="buscar" />
        <img class="icon-button" src="/assets/icons/icon-winery.svg" alt="adega" title="adega" />
    </div>
</header>

<div [ngClass]="isMenuOpen ? 'menu open' : 'menu'">
    <ul>
        <li *ngFor="let item of menuItens" class="menu-option" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{exact: true}" routerLink="{{item.link}}" (click)="isMenuOpen = !isMenuOpen">

            <img class="icon-button" [src]="item.iconUrl" [alt]="item.alt" />
            <span>{{item.name}}</span>
        </li>
    </ul>
</div>