header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
    box-shadow: 0 2px 4px 0 #D7D7D7;

    .options{
        display: flex;
        align-items: center;
        gap: 15px;
    }
}