header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
    box-shadow: 0 2px 4px 0 #D7D7D7;

    .options {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}

.menu {
    //display: none;
    z-index: 1;
    position: fixed;
    top: 60px;
    left: 0;
    width: 0px;
    overflow: hidden;
    height: calc(100vh - 60px);
    background-color: #FFFFFF;
    box-shadow: 2px 0px 4px 0 #D7D7D7;
    transition: width 0.4s, padding 0.1s 0.3s;
    padding: 0;


    &.open {
        width: 400px;
        padding: 20px 10px;
        transition: width 0.4s;
    }

    ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    li.menu-option {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 15px 10px;
        cursor: pointer;
        border-radius: 2px;
        border: 1px solid #FFFFFF;

        &:hover {
            border: 1px solid #D7D7D7;
        }
        
        &.active {
            border: 1px solid #939393;
        }


        span {
            color: #000000;
            text-decoration: none;
            text-wrap: nowrap;
        }

    }
}