<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

<div class="wine-detail" *ngIf="wineView">
    <div class="wine-image">
        <img [src]="wineView.image_url" alt="">
    </div>
    <div class="wine-information">
        <div class="name">
            <h2> {{wineView.winery.name}}</h2>
            <h1> {{wineView.name}}</h1>
        </div>
        <div class="location">
            <div class="image-container">
                <img class="country-flag" [src]="wineView.country.image_url" [alt]="wineView.country.name + 'flag'">
            </div>
            <p>{{wineView.country.name}}, {{wineView.region.name}}</p>
        </div>
    </div>
</div>